{% extends 'base/base.html.twig' %}

{% block main %}


            <div class="boite1">
                {% for book in books %}
                    <div class="boucle">
                        <a href="{{ path('book_show', {'id':book.id}) }}"><h2>{{ book.titre }}</h2></a>
                        <p>{{ book.resume }}</p>
                        <a href="{{ path('book_show', {'id':book.id}) }}"><h3>{{ book.genre }}</h3></a>
                        <div class="resp">
                            <img src="{{ book.image }}" alt="">
                        </div>
                        <a href="{{ path('admin_book_delete', {'id' : book.id}) }}">Supprimer l'article</a>
                        <a href="{{ path('admin_book_update', {'id' : book.id}) }}">Modifier l'article</a>
                        <a href="{{ path('form_book_create') }}">Ajouté un article</a>

                        {#{% if book.author %}
                                        lien qui renvoie sur la page de mon auteur qui a cette id #}
                        {#<a href="{{ path('author_show',{'id':book.author.id}) }}"><h3>{{ book.author.FirstName }}</h3></a>
                      {% endif %}#}
                    </div>
                {% endfor %}
            </div>


{% endblock %}
