<!doctype html>
<html lang="fr">
<link rel="stylesheet" href="{{ asset('asset/style.css') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1 class="titre">library</h1>
        <article class="exo_article">
        {% for book in books %}
            <div class="exo_boucle">
                <a href="{{ path('book_show', {'id':book.id}) }}"><h2>{{ book.titre }}</h2></a>
                <a href="{{ path('book_show', {'id':book.id}) }}"><p>{{ book.resume }}</p></a>
                <a href="{{ path('book_show', {'id':book.id}) }}"><h3>{{ book.genre }}</h3></a>
            </div>
        {% endfor %}
        </article>

    </main>
</body>
</html>